<!DOCTYPE = html>
<html>
    <head>
        <title>
            Book3
        </title>
        <style type="text/css">
            
            div.navigation {
                height: 100%;
                width: 150px;
                background-color:lightblue;
                position: fixed;
            }
            div.middle {
                width: 100%;
                margin-left: 400 px;
                padding-left: 200px;
                
            }
        </style>
        <div class="navigation">
            
            <ul>
                <li><a href="Index.html">Homepage</a></li><br>
                <li><a href="Bookslist.html">Bookslist</a></li><br>
                <li><a href="ContactUs.html">Contact Us</a></li><br>
                <li><a href="Survey.html">Survey Page</a></li><br>
                <li><a href="Honesty.html">Honesty</a></li>
            </ul>
        </div>
    </head>
    <body>
        <h1 style="text-align: center;">
            Book 3
        </h1>
        
        <div class="middle">
            <img src = power.jpg  width="300px"
            height="400px"/> 
            Joseph Murphy<br>
            <strong> The Power Of Your Subconscious Mind is a spiritual self-help classic, which teaches you how to use visualization and other suggestion techniques to adapt your unconscious behavior in positive ways.</strong>
        </div>
    </body>
</html>