<!DOCTYPE = html>
<html>
    <head>
        <title>
            Book1
        </title>
        <style type="text/css">
            div.navigation {
                height: 100%;
                width: 150px;
                background-color: lightblue;
                position: fixed;

            }
            div.text {
                width: 100%;
                margin-left: 400 px;
                padding-left: 200px;
                
            }
        </style>
        <div class="navigation">
            <ol>
                <li><a href="Index.html">Homepage</a></li><br>
                <li><a href="Bookslist.html">Bookslist</a></li><br>
                <li><a href="ContactUs.html">ContactUs</a></li><br>
                <li><a href="Survey.html">Survey</a></li><br>
                <li><a href="Honesty.html">Honesty</a></li><br>
            </ol>
        </div>
    </head>
    <body>
        
        <h1 style="text-align: center;">
            Book 1 
        </h1>
        <div class="text">
            
            <img src= ranitat.jpg 
            width="300px"
            height="400px"/>
            Harmanjeet Singh<br>
            <strong> In this book, the author has written about nature, ancient life of Panjab and life's struggles.</strong> 
        </div>
    </body>
</html>