
<!DOCTYPE = html>
<html>
    <head>
        <title>
            Book2
        </title>
        <style type="text/css">
            div.navigation {
                height: 100%;
                width: 150px;
                background-color:lightblue;
                position: fixed;
            }
            .text {
                width: 100%;
                padding-left: 200px;
                
            }
        </style>
        <div class="navigation">
            <ul>
                <li><a href="Index.html">Homepage</a></li><br>
                <li><a href="Bookslist.html">Bookslist</a></li><br>
                <li><a href="ContactUs.html">Contact Us</a></li><br>
                <li><a href="Survey.html">Survey Page</a></li><br>
                <li><a href="Honesty.html">Honesty</a></li><br>
            </ul>
        </div>
    </head>
    <body>
        <h1 style="text-align: center;">
            Book 2 
        </h1>
        
        <div class="text">
            <img src = alchemist.jpg width="400px" height="500px"/>
            Paulo Coehlo<br>
            <strong>The Alchemist follows a young Andalusian shepherd in his journey to the pyramids of Egypt, after having a recurring dream of finding a treasure there.</strong>
        </div>
    </body>
</html>